<div class="container main-page">
  <h1>Profileを編集する</h1>
    <hr>
      <%= form_for @user do |f| %>
        <% if User.find(current_user.id).user_type == "s" %>
          <div class="field">
        <!--<%= f.label :image %><br />-->
          <!--<%= image_tag @user.image.url(:medium) %>-->
              <br><br>
          <p>画像</p>
            <%= f.file_field :photo, autofocus: true, class: "form-control my-form" %>
          </div>
            <!--<input name="image" type="file">-->
  <div class="field">
      <%= f.label :苗字 %>
      <%= f.text_field :first_name, class: "form-control my-form" %>
  </div>
  <div class="field">
    <%= f.label :名前 %>
    <%= f.text_field :last_name, class: "form-control my-form" %>
  </div>
  <div class="field">
    <%= f.label :年齢 %>
    <%= f.text_field :age, class: "form-control my-form" %>
  </div>
  <div class="field">
    <%= f.label :salon %>
    <%= f.text_field :salon_name, class: "form-control my-form" %>
  </div>
  <div class="field">
    <%= f.label :salon_url %>
    <%= f.text_field :salon_url, class: "form-control my-form" %>
  </div>
  <div class="field">
    <%= f.label :自己紹介 %>
    <%= f.text_area :profile, class: "form-control my-form" %>
  </div>
  <% else %>
  <div class="field">
      <%= f.label :image %><br />
      <%= image_tag @user.photo.url(:thumb) %>
      <br><br>
      <%= f.file_field :photo, autofocus: true, class: "form-control my-form" %>
  </div>
  <div class="field">
      <%= f.label :苗字 %>
      <%= f.text_field :first_name, class: "form-control my-form" %>
  </div>
  <div class="field">
    <%= f.label :名前 %>
    <%= f.text_field :last_name, class: "form-control my-form" %>
  </div>
  <div class="field">
    <%= f.label :年齢 %>
    <%= f.text_field :age, class: "form-control my-form" %>
  </div>
  <div class="field">
    <%= f.label :自己紹介 %>
    <%= f.text_area :profile, class: "form-control my-form" %>
  </div>
  <% end %>
    <hr>
    <%= f.submit "登録する", :class => "btn btn-default" %>
  <% end %>
  <br>
  <a href="/users/<%= @user.id %>" class="btn btn-default">ユーザー情報に戻る</a>
</div>