<div class="container main-page">
  <div class="user">
    <div class="user-profile-left">
      <% if User.find(@user.id).user_type == "s" %>
        <h1>StylistProfile</h1>
        <hr>
          <div class="user_icon">
            <!--<%= image_tag @user.image.url(:medium) %>-->
            <%= image_tag @user.photo.url(:thumb) %>
          </div><br>
            <div class="user-profile-left-follow">
              <%= render 'follow_form' %>
              <%= render 'stats' %>
            </div>
              <br><br>
              <div class="stylist-profile-right">
                <p>名前：<%= @user.first_name %><%= @user.last_name %>さん</p>
                <p>性別：<%= @user.gender %></p>
                <p>年齢：<%= @user.age %>歳</p>
                <p>salon：<%= @user.salon_name %></p>
                <p>salonホームページ：<%= @user.salon_url %></p>
                <p>自己紹介：<%= @user.profile %></p>
              </div>
      <% else %>
      <div class="user-plofile-left">
        <h1>UserProfile</h1>
        <hr>
            <%= image_tag @user.photo.url(:thumb) %>
          <!--<P><%= image_tag @user.image.url(:medium) %></P>-->
            <br><br>
            <div class="user-profile-left-follow">
              <%= render 'follow_form' %>
              <%= render 'stats' %>
            </div>
      </div>
              <br><br>
              <div class="user-profile-right">
                <p>名前：<%= @user.first_name %><%= @user.last_name %>さん</p>
                <p>性別：<%= @user.gender %></p>
                <p>年齢：<%= @user.age %>歳</p>
                <p>自己紹介：<%= @user.profile %></p>
              </div>
      <% end %>
     </div>
      <!--<br><br>-->
      <!--</div>-->
       
      <% if @user.id == current_user.id %>
        <!--<div class="col-sm-5">-->
          <div class="user-menus">
            <p><a href="/users/<%= @user.id %>/edit" class="btn btn-default">ユーザー情報を編集する</a></p>
            <p><a href="/rooms" class="btn btn-default">TalkRoom一覧</a></p>
            <p><a href="/friends" class="btn btn-default">Friend Status</a></p>
      <% end %>
    <!--</div>-->
<!--current_userから見たfriend_status-->
      
        <% if @user.id != current_user.id %>
          <% if @friend_status == "" %>
            <p class = "btn btn-default"><%= link_to("Friend Request", "/friends/#{@user.id}", {method: "post"}) %></p>
          <% elsif @friend_status == "w" %>
            <p class = "btn btn-default"><%= fa_icon("user-plus") %> <%= link_to("友達になる", "/friends/#{@user.id}", {method: "post"}) %></p>
          <% elsif @friend_status == "r" %>
            <p class = "comment">Waiting...</p>
          <% elsif @friend_status == "f" %>
            <p class = "comment">Already Friend!</p>
              <!--以下chat用btn-->
              <% if @mes_status =="opened" %>
                <p class = "btn btn-default"><%= link_to("Open Message", "/rooms/#{@mes_room}") %></p>      
              <% else %>
                <%= form_for @room do |f| %>
                  <%= fields_for @entry do |e| %>
                    <%= e.hidden_field :user_id, :value => @user.id %>
                  <% end %>
                  <%= f.submit "Send Message", :class => "btn btn-default" %>
                <% end %>
              <% end %>
          <% end %>
          <hr>
        <% end %>
     <!--</div>-->
  </div>
</div>
