<div class="container main-page">
<h1>TALK一覧</h1>
<hr>
<% @entries.each do |e| %>
  <a href="/rooms/<%= e.room_id %>"><%= e.room.name %></a>
  <!--<%= link_to "削除", "/rooms/#{e.room.id}", method: :delete, data: {confirm: "本当に削除しますか？"} %>-->
  <hr>
<% end %>
<p><a href="/users/<%= current_user.id %>" class="btn btn-default"><%= current_user.first_name %> <%= current_user.last_name %>さんの情報に戻る</a></p>
<p><a href="/" class="btn btn-default">トップに戻る</a></p>
</div>