<div class="container main-page">
  <div class="posts-title">
    <h1>投稿一覧</h1>
  </div>
  <!--<hr>-->
    <div class="post-icon">
      <% @posts.each do |p| %>
        <div class="well">
          <h3><a href="/users/<%= p.user_id %>"><%= image_tag User.find(p.user_id).photo.url(:thumb) %> <%= User.find(p.user_id).first_name %> <%= User.find(p.user_id).last_name %>様</a>の投稿</h3>
          <h3><a href="/posts/<%= p.id %>"> <%= p.title %><br><%= p.content %></a></h3>
        </div>
        <!--<hr>-->
      <% end %>
    </div>
  <!--<a href="/posts/new" class= "btn btn-primary">新しく投稿する</a>-->
</div>