<div class="container main-page">
  <div class="posts-title">
    <h1>新規投稿</h1>
  </div>
  <hr>
  <%= form_for @post do |f| %>
    <div class="field">
      <%= f.label :タイトル %><br />
      <%= f.text_field :title, autofocus: true, placeholder: "タイトルを入力してください", class: "form-control my-form" %>
    </div>
    
    <div class="field">
      <%= f.label :コメント %><br />
      <%= f.text_area :content, autofocus: true, class: "form-control my-form" %>
    </div>
    
    <div class="field">
      <%=f.label :画像をアップロード %><br />
      <%= f.file_field :images, multiple: true %>
    </div>

    <hr>
    <%= f.submit "投稿する", class: "btn btn-default" %>
  <% end %>
  <!--<a href="/posts" class= "btn btn-default">投稿一覧</a>-->
</div>