<div class="container main-page">
<div class="row">
  <div class="col-xs-6">
  <div class="posts-show-item">
      <div class="post-icon">
        <% if User.find(@user.id).photo.present? %>
          <h2><%= image_tag @user.photo.url(:thumb) %> <%= link_to "#{@user.first_name} #{@user.last_name}さん", "/users/#{@user.id}" %></h2>
        <% end %>
      </div>
        <p>タイトル：<%= @post.title %></p>
          <hr>
                <div class="post-img">
                  <% @post.images.each do |images| %>
                    <div class="image">
                      <%= image_tag(images.url) %>
                    </div>
                  <% end %>
                </div>
              <hr>
              <h4>コメント：<%= @post.content %></h4>
            <% if Like.find_by(user_id: current_user.id, post_id: @post.id) %>
              <%= link_to "/likes/#{@post.id}/destroy", {method: "post"} do %>
                <span class="fa fa-heart like-btn-unlike"></span>
              <% end %>
            <% else %>
              <%= link_to "/likes/#{@post.id}/create", {method: "post"} do %>
                <span class="fa fa-heart like-btn"></span>
              <% end %>
            <% end %>
              <%= @likes_count %><br>
                <small><%= @post.created_at %></small><br><br>
             <div class="post-menus">
                <% if user_signed_in? %>
                  <% if @post.user_id == current_user.id %>
                    <p><%= link_to "投稿を編集する", edit_post_path, class:"btn btn-default" %></p>
                    <%= link_to "削除する", post_path(@post.id), method: :delete, class: "btn btn-default", data: {confirm: "本当に削除しますか？"} %>
                  <% end %>
                <% end %>
             </div>
    <!--<p><a href="/posts/<%= @post.id %>" data-method="delete" class= "btn btn-primary">投稿を削除する</a></p>-->
</div>
</div>
  </div>
</div>
