<h1>投稿を変更しました。</h1>
<hr>
<p>名前：<%= @user.first_name %><%= @user.last_name %>さん</p>
<P>タイトル：<%= @post.title %></P>
<h4>コメント：<%= @post.content %></h4>
<%= form.file_field :images, multiple: true %>
<!--<%= image_tag @post.image.to_s %><br>-->
<hr>
<!--<a href="/posts">トップに戻る</a>-->
<%= link_to "topに戻る", root_path, class: "btn btn-primary" %>
