<div class="container main-page">
  <div class="posts-title">
    <h1>投稿を変更しました。</h1>
  </div>
    <hr>
    <p>名前：<%= @user.first_name %><%= @user.last_name %>さん</p>
      <P>タイトル：<%= @post.title %></P>
        <div class="row">
          <div class="col-md-4">
            <div class="post-img">
              <% @post.images.each do |images| %>
                <div class="image">
                  <%= image_tag(images.url) %>
                </div>
              <% end %>
            </div>
          </div>
        </div>     
      <h4>コメント：<%= @post.content %></h4>
    <hr>
  <!--<a href="/posts">トップに戻る</a>-->
  <%= link_to "topに戻る", root_path, class: "btn btn-primary" %>
</div>